#titulo{
    font-size: 80px;
    text-align: center;
}
body{
    font-family: 'Arial';
}
.Topico{
    text-align: center;
}
.informações{
    text-align: initial;
    margin: 20px;
}
h3{
    margin: 20px;
}
h4{
    margin: 20px;
}
.right_text{
    text-align: end;
}
#container_right{
    display: inline-flex !important;
}
#curriculo{
    border: 3px  solid black;
    margin: auto;
    padding: 2px;
    width: 900px;
    height: 900px;
    
}